<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title *ngIf="!usuario">login</ion-title>
    <ion-title *ngIf="usuario">Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="!usuario">

  <div>
    <h1>bebuddy</h1>

    <ion-item>
      <ion-label floating>Usuario:</ion-label>
      <ion-input type="text" [(ngModel)]="userLogin.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Contraseña:</ion-label>
      <ion-input type="password" [(ngModel)]="userLogin.password"></ion-input>
    </ion-item>


    <div padding>
      <button ion-button round full color="primary" [disabled]="!userLogin.email || !emailPattern.test(userLogin.email) || !userLogin.password" (tap)="login()">Iniciar sesión</button><br>
      <!--<button ion-button round full color="primary" (click)="login(user)">Iniciar sesión con Facebook</button><br>-->
      <div>
        <p><span>O </span><span (click)="SignUp()" style="font-weight: bold">crea una cuenta de Bebbudy</span></p>
      </div>
    </div>
  </div>

</ion-content>

<ion-content *ngIf="usuario">
  <div>
    <ion-card>

      <img src="{{userInfo.img}}"/>
      <!--<img src="assets/imgs/logoblanco.png" class="title"/>-->
      <!--<div class="card-subtitle">41 Listings</div>-->
    </ion-card>
  </div>
  <button ion-button round full color="primary" (tap)="logout()">Cerrar sesión</button><br>


</ion-content>

