<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title class="titleTop">Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="card-background-page">
    <ion-card>
      <img src="{{buddyFinal?.img}}"/>
      <div class="card-title">{{buddyFinal?.name}}</div>

      <ion-buttons end class="buttons">
        <button ion-button small round  *ngIf="isChat" (click)="navToChat()">Enviar mensaje</button>
        <button ion-button small round  *ngIf="!isChat" (click)="startChat(buddy)">CREAR mensaje</button>
        <button ion-button small round *ngIf="!isFollow" (click)="follow(buddy)">Seguir</button>
        <button ion-button small round *ngIf="isFollow" (click)="unfollow(buddy)">Dejar de seguir</button>
      </ion-buttons>
    </ion-card>
  </div>

  <ion-grid style="padding: 0" >
    <ion-row>
      <ion-col col-7 *ngIf="ratingInfo">
        <rating class="miRating" [(ngModel)]="ratingInfo.rate" (ngModelChange)="rate($event, ratingInfo)" readOnly="{{lock}}"></rating>
        <div><p style="margin-left: 12px">{{ratingInfo.votes}} Valoraciones</p></div>
      </ion-col>
      <ion-col col-5>
        <button ion-button round small full (click)="navComment(user)">Ver opiniones</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr style="margin: 0px">
  <ion-title class="miTitle">Tours de {{buddyFinal?.name}}</ion-title>
  <tour nombre="perfil" param="{{buddyFinal?.id}}"></tour>
</ion-content>
