
page-chat {
  .innerMessage {
    display: inline-block;
    padding: 5px 10px;
    background: color($colors, 'primary');
    margin: 5px;
    color: white;
    border-radius: 3px;
  }
  .innerMessage.messageRight {
    background: color($colors, 'secondary');
  }
  .username {
    font-weight: bold;
    font-size: 80%;
  }
  .message {
    font-size: 100%;
  }
  .elem button {
    border-radius: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .elem {
    position: relative;
    min-width: 50px;
  }
  .message:after {
    content: '';
    display: block;
    clear: both;
  }
  .messageLeft {
    float: left;
  }
  .messageRight {
    float: right;
  }


  ion-footer {
    bottom: -1px;
  }
  .toolbar-input {
    .toolbar-background {
      background-color: color($colors, 'dark');
      border: 0;
    }
    input {
      padding-left: 15px;
      border: 0;
      border-radius: 200px;
      width: 90%;
      height: 30px;
    }
    .icon-wrapper {
      color: #ffffff;
      font-size: 20px;
      height: 30px;
      width: 10%;
      float: right;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }


  .back {
    background-image: url("../../assets/imgs/fondologin.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    border: none;

    ion-item{
      opacity: 0.8;
    }

    p{
      text-align: center;
      color: #fff;
    }
  }

}
