<ion-header>
  <!--<ion-navbar color="dark">-->
    <!--<ion-title class="title">Bebuddy</ion-title>-->
  <!--</ion-navbar>-->
</ion-header>

<ion-content id="dark">
  <div class="card-background-page">
    <ion-card>
      <img src="assets/imgs/fondobuscador.jpg"/>
      <img src="assets/imgs/logoblanco.png" class="title"/>
      <div class="card-title">¿Cuál es tu destino?</div>
      <div class="searchbar"><ion-searchbar placeholder="Berlín, Tailandia, Wroclaw..." [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar></div>
      <div *ngIf="searching" class="spinner-container">
        <ion-spinner name="bubbles"></ion-spinner>
      </div>
    </ion-card>
  </div>

  <ion-list>
    <ion-item *ngFor="let item of finalTours">
      <img item-start class="miniimg" src="{{item.img}}">
      <ion-grid>
        <ion-row>
          <ion-col col-9>
            <h2>{{item.title}}</h2>
            <rating class="ratingTour" [(ngModel)]="item.rate" readOnly="true"></rating>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-buttons class="buttons" end>
        <button ion-button small round (click)="navTour(item)">Ver más</button>
      </ion-buttons>

    </ion-item>
  </ion-list>

  <ion-card class="destino" *ngFor="let item of items" (click)="navTrip(item)">
    <p>{{item.name}}</p>
  </ion-card>



  <tour-carrousel></tour-carrousel>
  <tour-carrousel name="cityFrom"></tour-carrousel>

</ion-content>
