<!--
  Generated template for the TripdetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark" >
    <ion-title style="font-family: Neon; text-align: center; ">{{tour.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="card-background-page">
    <ion-card>
      <img src="{{tour.img}}"/>
      <ion-buttons end class="buttons">
        <button ion-button round small (click)="changeFollow(tour)" *ngIf="!favourite">
          <ion-icon name="star" padding-right=""></ion-icon>
          Añadir a mis planes
        </button>
        <button ion-button round (click)="changeFollow(tour)" *ngIf="favourite">
          <ion-icon name="star"></ion-icon>
        </button>
      </ion-buttons>
    </ion-card>
  </div>
  <ion-title class="miTitle">{{tour.title}}</ion-title>
  <hr style="margin: 0px">
  <ion-grid style="padding: 0">
    <ion-row>
      <ion-col col-7>
        <rating class="rating" [(ngModel)]="tour.rate" (ngModelChange)="rate($event, tour)" readOnly="{{lock}}"></rating>
        <div><p style="margin-left: 12px" *ngIf="tour.votes == null">{{tour.votes}}Aun no hay valoraciones</p></div>
        <div><p style="margin-left: 12px" *ngIf="tour.votes == 1">{{tour.votes}} Valoración</p></div>
        <div><p style="margin-left: 12px" *ngIf="tour.votes > 1">{{tour.votes}} Valoraciones</p></div>
      </ion-col>
      <ion-col col-5>
        <button ion-button round small full (click)="navComment(tour)">Ver opiniones</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr style="margin: 0px">
  <ion-title class="miTitle">Descripcíon</ion-title>
  <ion-card-content style="margin: 5px">{{tour.description}} </ion-card-content>
  <hr style="margin: 0px">
  <ion-grid>
    <ion-title class="miTitle">Buddy</ion-title>
    <ion-row *ngIf="user">
      <ion-col col-2 style="text-align: center">
        <img class="avatar" src="{{user.img}}"/><br>
        <span>{{user.name}}</span>
      </ion-col>
      <ion-col col-10>
        <ion-buttons class="buttons" end>
          <button class="myButton" ion-button small round  *ngIf="!isMe && isChat" (click)="navToChat()">Enviar mensaje</button>
          <button ion-button small round  *ngIf="!isMe && !isChat" (click)="startChat()">CREAR mensaje</button>
          <!--<ng-container *ngFor="let followUser of follows">-->
            <button ion-button small round *ngIf="!isFollow && !isMe" (click)="follow(user)">Seguir</button>
            <button ion-button small round *ngIf="isFollow && !isMe" (click)="unfollow(user)">Dejar de seguir</button>
          <button color="danger" ion-button small round *ngIf="isMe" (click)="unfollow(user)">Eliminar tour</button>
            <!--<button ion-button small round *ngIf="userInfo.id == user.id" (click)="deleteTour(tour)">Eliminar tour</button>-->
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr style="margin: 0px">
  <ion-title class="miTitle">Días disponibles</ion-title>
  <div style="text-align: center">
    <ng-container *ngFor="let day of days">
        <div *ngIf="tour.days.includes(day)"
             style="display: inline-block; width: 30px; height: 30px; border: 1px; border-radius: 50px; margin: 2px; color: white; text-align: center; line-height: 30px; background-color: #32db64"
        >{{day.charAt(0)}}</div>
      <div *ngIf="!tour.days.includes(day)"
           style="display: inline-block; width: 30px; height: 30px; border: 1px; border-radius: 50px; margin: 2px; color: white; text-align: center; line-height: 30px; background-color: #f53d3d"
      >{{day.charAt(0)}}</div>

    </ng-container>
  </div>
  <hr style="margin-top: 7px">
  <ng-container  *ngIf="user">

    <tour-carrousel name="trip" param="{{user.id}}" tour="{{tour.id}}" user="{{user.name}}"></tour-carrousel>
  </ng-container>
