<!--
  Generated template for the CitydetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar color="dark" >
    <ion-title style="font-family: Neon; text-align: center; margin-right: 50px ">{{infoCity.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="card-background-page">
    <ion-card>
      <img src="{{infoCity.img}}"/>
    </ion-card>
  </div>

  <!--<ion-card class="destino" *ngFor="let city of cities" (click)="navTrip(item)">-->
    <!--&lt;!&ndash;<img src="{{item.img}}"/>&ndash;&gt;-->
    <!--<p>{{city.name}}</p>-->
  <!--</ion-card>-->

  <!--<div class="card-background-page" style="margin: 10px" *ngFor="let item of tours">-->
    <!--<ion-card>-->
      <!--<img src="{{item.img}}"/>-->
      <!--<ion-buttons class="buttons" end>-->
        <!--<p>gfdsafdfads</p>-->
        <!--<button ion-button round small>-->
          <!--<ion-icon name="md-add-circle">Añadir a mis planes</ion-icon>-->
        <!--</button>-->
        <!--<button>-->
          <!--<ion-icon name="contact"></ion-icon>-->
        <!--</button>-->
        <!--<button>-->
          <!--<ion-icon name="log-out"></ion-icon>-->
        <!--</button>-->
      <!--</ion-buttons>-->
    <!--</ion-card>-->
  <!--</div>-->
  <!--<h2>Buddies en {{infoCity.name}}</h2>-->

  <ion-card-content>
    <div>
      <div>Buddies en {{infoCity.name}}</div>
      <hr>
    </div>
    <ion-scroll scrollX="true" style="white-space:nowrap; height: 68px;">
      <div style="display: inline-block; text-align: center; margin-right: 10px" *ngFor="let item of tours">
        <img class="avatar" src="{{item.img}}"/><br>
        <span>{{item.buddy}}</span>
      </div>
    </ion-scroll>
  </ion-card-content>
  <hr>

  <ion-list>
    <ion-item  *ngFor="let item of tours">
      <img item-start class="miniimg" src="{{item.img}}">
      <!--<div><span style="float:right"> <img item-start class="avatar" src="{{item.img}}"></span><h2>{{item.name}}</h2></div>-->
      <!--<h2>{{item.name}}</h2>-->
      <ion-grid>
        <ion-row>
          <ion-col col-9>
            <h2>{{item.name}}</h2>
            <rating class="rating" [(ngModel)]="item.rate" (ngModelChange)="onModelChange($event, item)" readOnly="{{lock}}"></rating>
          </ion-col>
          <ion-col col-3>
             <img item-start class="avatar" src="{{item.img}}">
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-buttons class="buttons" end>
        <button ion-button small round (click)="navTour(item)">Ver más</button>
      </ion-buttons>

    </ion-item>

  </ion-list>

  <ion-card-content>
    <ion-card-title>
      <!--<div><span style="float:right">Ver todo</span>Tours en {{infoCity.name}}</div>-->
      <hr>
    </ion-card-title>
    <ion-scroll scrollX="true" style="white-space:nowrap; height: 150px;">
      <img class="tours" src="assets/imgs/furgoneta.jpg"/>
      <img class="tours" src="assets/imgs/furgoneta.jpg"/>
      <img class="tours" src="assets/imgs/furgoneta.jpg"/>
      <img class="tours" src="assets/imgs/furgoneta.jpg"/>
    </ion-scroll>
  </ion-card-content>
</ion-content>
