<!--
  Generated template for the ToursPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
<!--&ndash;&gt;-->
<!--<ion-header>-->

  <!--<ion-navbar color="dark">-->
    <!--<ion-title style="font-family: Neon; text-align: center; margin-right: 50px ">Todos los tours</ion-title>-->
  <!--</ion-navbar>-->

<!--</ion-header>-->


<!--<ion-content>-->
  <!--<ion-list>-->
    <!--&lt;!&ndash;<ion-item  *ngFor="let item of tours">&ndash;&gt;-->
    <!--<ion-item *ngFor="let item of tours">-->
      <!--<img item-start class="miniimg" src="{{item.img}}">-->
      <!--&lt;!&ndash;<div><span style="float:right"> <img item-start class="avatar" src="{{item.img}}"></span><h2>{{item.name}}</h2></div>&ndash;&gt;-->
      <!--&lt;!&ndash;<h2>{{item.name}}</h2>&ndash;&gt;-->
      <!--<ion-grid>-->
        <!--<ion-row>-->
          <!--<ion-col col-9>-->
            <!--<h2>{{item.title}}</h2>-->
            <!--<rating class="rating" [(ngModel)]="item.rate" readOnly="true"></rating>-->
          <!--</ion-col>-->

          <!--<ion-col col-3 pull-1 *ngIf="userInfo">-->
            <!--<ng-container *ngFor="let user of buddy">-->
              <!--<div style="display: inline-block; text-align: center; margin-right: 10px" >-->

                <!--<ng-container *ngIf="user.profile?.id != userInfo.id">-->
                  <!--<img *ngIf="item.buddy == user.profile?.id " class="avatar" src="{{user.profile?.img}}" (click)="navUser(user)"/><br>-->
                <!--</ng-container>-->
                <!--<ng-container *ngIf="user.profile?.id == userInfo.id">-->
                  <!--<img *ngIf="item.buddy == user.profile?.id" class="avatar" src="{{user.profile?.img}}" (click)="navMiPerfil()"/><br>-->
                <!--</ng-container>-->
                <!--<span *ngIf="item.buddy == user.profile?.id ">{{user.profile?.name}}</span>-->
              <!--</div>-->
            <!--</ng-container>-->
          <!--</ion-col>-->

        <!--</ion-row>-->
      <!--</ion-grid>-->
      <!--<ion-buttons class="buttons" end>-->
        <!--<button ion-button small round (click)="navTour(item)">Ver más</button>-->
      <!--</ion-buttons>-->

    <!--</ion-item>-->

  <!--</ion-list>-->
<!--</ion-content>-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title style="font-family: Neon; text-align: center; margin-right: 50px ">Todos los tours</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <tour></tour>
</ion-content>
