<!--
  Generated template for the TravelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title style="font-family: Neon; text-align: center;">Mis planes</ion-title>
  </ion-navbar>

</ion-header>



<ion-content>
  <ion-list>
    <!--<ion-item  *ngFor="let item of tours">-->
    <ion-item *ngFor="let item of favourites">
      <img item-start class="miniimg" src="{{item.img}}">
      <!--<div><span style="float:right"> <img item-start class="avatar" src="{{item.img}}"></span><h2>{{item.name}}</h2></div>-->
      <!--<h2>{{item.name}}</h2>-->
      <ion-grid>
        <ion-row>
          <ion-col col-9>
            <h2>{{item.title}}</h2>
            <rating class="rating" [(ngModel)]="item.rate" readOnly="true"></rating>
          </ion-col>

          <ion-col col-3 pull-1>
            <ng-container *ngFor="let user of buddy">
              <div style="display: inline-block; text-align: center; margin-right: 10px" >
                <img *ngIf="item.buddy == user.profile?.id " class="avatar" src="{{user.profile?.img}}" (click)="navUser(user)"/><br>
                <span *ngIf="item.buddy == user.profile?.id ">{{user.profile?.name}}</span>
              </div>
            </ng-container>
          </ion-col>

        </ion-row>
      </ion-grid>
      <ion-buttons class="buttons" end>
        <button ion-button small round (click)="navTour(item)">Ver más</button>
      </ion-buttons>

    </ion-item>

  </ion-list>
</ion-content>
