page-travel {

  .title {
    position: relative;
    text-align: center;
    font-family: "Neon";
  }

  .miniimg {
    width: 90px;
    height: 90px;

    img{
      border-radius: 3px;
    }
  }


}
