<!-- Generated template for the EditPerfilComponent component -->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Editar perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <div>
      <ion-list>
        <ion-item>
          <ion-input type="text" [(ngModel)]="newUser.name" placeholder="{{userInfo.name}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="email" [(ngModel)]="newUser.email" placeholder="{{userInfo.email}}"></ion-input>
        </ion-item>
        <!--<ion-item>-->
          <!--<ion-input type="city" [(ngModel)]="newUser.city" placeholder="Elige tu ciudad"></ion-input>-->
        <!--</ion-item>-->
        <ion-title padding style="text-align: center">Ciudad</ion-title>
        <div  ><ion-searchbar placeholder="Elige tu ciudad" [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar></div>
        <div *ngIf="searching" class="spinner-container">
          <ion-spinner name="bubbles"></ion-spinner>
        </div>
      </ion-list>
    </div>
  </ion-list>

  <ion-card class="destino" *ngFor="let item of items" (click)="selectCity(item)">
    <!--<img src="{{item.img}}"/>-->
    <p>{{item.name}}</p>
    <!--<p>{{item.code}}</p>-->
  </ion-card>

  <div padding>
    <button ion-button round full color="primary"
            (click)="editUser()">Guardar</button>
  </div>

</ion-content>
