edit-perfil {
  .destino {
    background-image: url("../../assets/imgs/fondologin.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    //width: 100%;
    height: 50px;
    position: relative;
    border: none;

    p{
      font-family: "Neon";
      font-size: 18px;
      text-align: center;
      position: relative;
      top: 25%;
      font-weight: bold;
      color: #fff;
    }
  }

  .img-container {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.2);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    img {
      height: 90px;
      margin-bottom: 15px;
    }
  }
}
